@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.contenedor-header {
  background: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.contenedor-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.contenedor-header header .logo a {
  font-family: "Righteous";
  font-size: 36px;
  color: #1cb698;
  text-decoration: none;
}

.contenedor-header header ul {
  display: flex;
  list-style: none;
}

.contenedor-header header nav ul li a {
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
  color: #1cb698;
}

.nav-responsive {
  background-color: #1cb698;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.sobremi {
  margin: 0 auto;
  width: 100%;
  background-color: #1e2326;
  color: #fff;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.sobremi span {
  color: #1cb698;
}

.sobremi .info-contenido {
  font-size: 18px;
  margin: 50px;
}

.sobremi img {
  width: 350px;
  border: 7px solid #1cb698;
  height: 350px;
}

.conocimientos {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 0;
}

.conocimientos h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.conocimientos .imgsConocimientos {
  display: flex;
  margin: 100px 0;
  height: 150px;
  justify-content: space-evenly;
}

.proyectos {
  background-color: #1e2326;
  color: #fff;
  width: 100%;
  padding: 100px 0px;
}

.proyectos h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 10px;
}

.contenido-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.contenido-proyectos .proyecto {
  height: 385px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
}

.contenido-proyectos .proyecto .botonProyecto {
  text-decoration: none;
  color: #1cb698;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}

.contenido-proyectos .proyecto img {
  width: 100%;
  height: 180px;
  position: relative;
}

.contacto {
  background-image: url(imgs/contact_bg.png);
  background-color: #1e2326;
  color: #fff;
  padding: 50px 0;
}

.contacto .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.contacto h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.form {
  padding: 10px;
  position: relative;
}

.contacto .form input,
.contacto .form textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #252a2e;
  color: #fff;
  font-size: 18px;
}

.contacto button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}

.contacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1cb698;
  z-index: -1;
  transition: 1s;
}

.contacto button:hover .overlay {
  width: 100%;
}

footer {
  background-color: #252a2e;
  color: #fff;
  padding: 10px 0 10px 0;
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: 0px;
}

footer h2 {
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

footer .redes {
  margin-bottom: 20px;
}

footer .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}

footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #1cb698;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20%;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}
